@import url('https://fonts.googleapis.com/css2?family=Anton&family=Noto+Sans+JP:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Metal+Mania&display=swap');

$color-main: #FEE903;
$color-text: #000;
$color-reverse: #fff;
$color-shop: #eaeaea;
$color-shop-active: #ff40b4;

$font-heading: 'Anton', sans-serif;
$font-text: 'Noto Sans JP', sans-serif;
$font-shop-heading: 'Dosis', sans-serif;
$font-important-title: 'Metal Mania', cursive;